@import '../NavLinks/NavLinks';
.SideBar{
    background: linear-gradient(to bottom, #955becb0, #6c6ff0);
    width: 22rem;
    height: 100%;
    border-radius: 16px 0 0 16px;
    @include Flex(column , flex-start , center);
    padding-top: 3rem;
    &__UserPhoto{
        width: 5rem;
        border: solid 3px #fff;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
    &__UserName{
        font-size: 1.2rem;
        font-weight: 500;
        color: #ffff;
        margin-bottom: 10rem;
        letter-spacing: 0.1rem;
    }
}
